

/* Root for stylesheet*/
:root {
  --basically-black: #0a0a0a;

  --primary: #DC0000;
  --primary-dark: #850000;


  --light-grey: #BDC4D0;
  --grey: grey;
  --dark-grey: #555756;

  --background-light: #F3F4F8;
  --background-dark: #0a0a0a;
  --accent: #e5e4ea;


  --font-lightest: #fff;
  --font-light: #abaab4;
  --font-dark: #333;
  --font-darkest: #0a0a0a;
}

/* Bento Box Gallery */
.grid {
    background: var(--font-dark);
    min-width: 100;
    max-width: 1500px;
    height: 1000px;
    display: grid;
    gap: 1.5vw;
    padding: 1vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "hero hero hero hero aside2 aside2"
      "hero hero hero hero aside2 aside2"
      "aside3 aside3 aside4 aside4 aside5 aside5"
      "aside3 aside3 aside4 aside4 aside5 aside5"
      "aside3 aside3 aside4 aside4 aside6 aside6"
      "aside3 aside3 aside4 aside4 aside6 aside6";
  }



  img{
    
    height: 100%;
  }
  .item {
    border: 5px solid var(--font-light);
    border-radius: 5px;
  }
  
  .grid .item:nth-child(1) {
    grid-area: hero;
  }
  .grid .item:nth-child(2) {
    grid-area: aside2;
  }
  
  .grid .item:nth-child(3) {
    grid-area: aside3;
  }
  .grid .item:nth-child(4) {
    grid-area: aside4;
  }
  
  .grid .item:nth-child(5) {
    grid-area: aside5;
  }
  .grid .item:nth-child(6) {
    grid-area: aside6;
  }


  /*Media Query */
  @media screen and (max-width: 1000px) {
    .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "hero   hero   hero   hero"
        "hero   hero   hero   hero"
        "aside2 aside2 aside2 aside3"
        "aside4 aside4 aside5 aside5";
        }  
    }