table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    color:aliceblue;
    
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr,th,td:nth-child(even) {
    background-color: hsl(0, 0%, 0%);
  }
